src/main/resources/ws/xsd/statswsconverce.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.3 U (http://www.xmlspy.com) by sp (zzzz) -->
<!--W3C Schema generated by XML Spy v4.3 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="count" type="xs:long"/>
    <xs:element name="idfed" type="xs:long"/>
    <xs:element name="recordStat">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="stat" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="role" type="xs:string"/>
    <xs:element name="stat">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="role"/>
                <xs:element ref="idfed"/>
                <xs:element ref="count"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
