src/main/resources/ws/xsd/userws.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.vd.ch/cyber/portail/rest"
	elementFormDefault="qualified">

	<xs:element name="userWs">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="userId" type="xs:string" />
				<xs:element name="firstName" type="xs:string" />
				<xs:element name="lastName" type="xs:string" />
				<xs:element name="email" type="xs:string" />
				<xs:element name="screenName" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>